@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
      url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }




* {
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}


.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596f5;
}

.container {

    max-width: 1280px;
    margin: auto;

}

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {

margin: 0;
padding: 0;
list-style: none;
display: flex;
text-align: center;

}

.navbar-item {

    margin-left: 40px;
    margin-right: 40px;    

}

.navbar-link {

text-decoration: none;
color: #ffffff;

}

.navbar-contacts {

text-align: right;

}

.navbar-text {

display: block;
color: #ffffff;
margin-bottom: 4px;
font-size: 14px;
line-height: 16px;

}

.navbar-phone {

font-weight: 700;
font-size: 17px;
line-height: 20px;
text-decoration: none;
color: #ffffff;

}

.main {

padding-top: 54px;
display: flex;

}

.main-info {

    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    }

.home-itaji path {

opacity: 0;
cursor: pointer;

}

.home-itaji path:hover {

opacity: 1;

}

path.current-floor {

    opacity: 1;

}

.counter-group {

display: flex;
flex-direction: column;
align-items: center;
background-color: #ffffff;

}

.counter-botton {

    cursor: pointer;
    background-color: #ffffff;
    border: none;

}

.main-title {

    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;

}

.counter {

font-family: 'Bebas Neue', sans-serif;
color: #635854;
font-size: 87px;
margin-top: 10px;
margin-bottom: 10px;

}


.button-primary {

    background: #3596F5;
    border-radius: 6px;
    color: #FFFFFF;
    border: none;
    padding: 16px 36px;

}


.footer-info {
margin: 0;
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1500px;
max-height: 171px;
background: #D7D7D7;
margin-top: 20px;
border-top: 4px solid #3596f5;


}

.footer-icon {

margin-left: 81px;
margin-top: 50px;
margin-bottom: 56px;

}

.footer-contacts {

    text-align: left;
    margin-right: 59px;
    margin-left: 37px;
    
    }
    
    .footer-text {
    
    display: block;
    color: #635854;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    
    }
    
    .footer-phone {
    
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    color: #635854;
    
    }


.footer-nav {

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 59px;
    margin-right: 55px;

} 

.footer-menu {

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;

}

.footer-item {

    margin-left: 15px;
    margin-right: 15px;  

}

.footer-lasts {

    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
    text-decoration-line: underline;
    color: #635854;
    margin-right: 81px;
}


.modal {

position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transform: scale(0);
transition: opacity 0.2s;

}

.is-open {

opacity: 1;
transform: scale(1);

}

.modal-dialog {

position: relative;
max-width: 1000px;
min-height: 565px;
background-color: #FFFFFF;
flex-grow: 1;
display: flex;
transform: translateY(-10%);
transition: transform 0.2s, opacity 0.2s;
transition-delay: 0.2s;

}

.is-open > .modal-dialog {

opacity: 1;
transform: translateY(0);

}

.modal-image {

background-color: #EBEBEB;
width: 60%;
text-align: center;
padding: 50px;

}

.flats path {

opacity: 0;
cursor: pointer;

}

.flats path:hover {

opacity: 1;

}

.modal-title {

    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 25px;

}

.modal-info {

width: 40%;
padding: 50px 46px;

}

.flat-list {

padding: 0;
list-style: none;
margin-top: 55px;

}

.flat-item {

margin-bottom: 10px;

}

.flat-link {

    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;

}

.flat-link:hover {

    text-decoration-line: underline;
    color: #3596F5;    

}

.modal-alert {

    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    margin-top: 56px;

}

.modal-close-button {

position: absolute;
right: 0;
top: 0;
cursor: pointer;
border: none;
background-color: #ffffff;
margin-right: 27px;
margin-top: 38px;

}




@media (max-width: 1400px) {

.container {

width: 90%;
max-width: 1200px;

}

}


@media (max-width: 1200px) {

    .container {

    max-width: 960px;
    
    }
    
    }
